/* Build Classes */

/*
Editor Start
*/

/* Text Colours - .fc */

.fc-trans { color: transparent; } /* Transparent */
.fc-white { color: #fff; } /* White - 255,255,255 */
.fc-black { color: #323232; } /* Black - 50,50,50 */
.fc-dark-grey { color: #646464; } /* Dark Grey - 100,100,100 */
.fc-grey { color: #969696; } /* Grey - 150,150,150 */
.fc-light-grey { color: #c8c8c8; } /* Light Grey - 200,200,200 */
.fc-very-light-grey { color: #f0f0f0; } /* Very Light Grey - 240,240,240 */
.fc-terquoise { color: #02b1dc; } /* Terquoise */

/* Background Colours .bc */

.bc-trans { background-color: transparent; }
.bc-white { background-color: #fff; }
.bc-black { background-color: #323232; }
.bc-very-light-grey { background-color: #f0f0f0; }

/* Borders - .b .bb .bt .bx .by */

.b-red { border: 2px solid #ff4500; }
.b-orange { border: 2px solid #ffa500; }
.b-grey { border: 1px solid #969696; }
.bt-grey { border-top: 1px solid #969696; }
.bb-grey { border-bottom: 5px solid #969696; }
.bx-grey { border-left: 1px solid #969696; border-right: 1px solid #969696; }
.by-grey { border-top: 1px solid #969696; border-bottom: 1px solid #969696; }

.b-light-grey { border: 1px solid #c8c8c8; }
.bt-light-grey { border-top: 1px solid #c8c8c8; }
.bb-light-grey { border-bottom: 1px solid #c8c8c8; }
.bx-light-grey { border-left: 1px solid #c8c8c8; border-right: 1px solid #c8c8c8; }
.by-light-grey { border-top: 1px solid #c8c8c8; border-bottom: 1px solid #c8c8c8; }

/* .fs - Font Sizes */

.fs-6 { font-size: 6px; font-size: 0.6rem; line-height: 1; }
.fs-8 { font-size: 8px; font-size: 0.8rem; line-height: 1;}
.fs-12 { font-size: 12px; font-size: 1.2rem; line-height: 1;}
.fs-14 { font-size: 14px; font-size: 1.4rem; line-height: 1;}
.fs-18 { font-size: 18px; font-size: 1.8rem; line-height: 1.6;}
.fs-20 { font-size: 20px; font-size: 2rem; line-height: 1.6; }
.fs-32 { font-size: 32px; font-size: 3.2rem; line-height: 1.4; }
.fs-36 { font-size: 36px; font-size: 3.6rem; line-height: 1.4; }
.fs-48 { font-size: 48px; font-size: 4.8rem; line-height: 1.2; }
.fs-52 { font-size: 52px; font-size: 5.2rem; line-height: 1.2; }
.fs-68 { font-size: 68px; font-size: 6.8rem; line-height: 1.2; }

/* Font Weight's - .fw */

.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }

/* Columns - .cc .cg .cr */

.cc-2 {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.cc-3 {
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.cg-20 {
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
}

.cg-30 {
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
}

.cg-40 {
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

.cg-50 {
	-webkit-column-gap: 50px;
	-moz-column-gap: 50px;
	column-gap: 50px;
}

.cg-60 {
	-webkit-column-gap: 60px;
	-moz-column-gap: 60px;
	column-gap: 60px;
}

.cg-80 {
	-webkit-column-gap: 80px;
	-moz-column-gap: 80px;
	column-gap: 80px;
}

.cr-light-grey {
	-webkit-column-rule: 1px solid #c8c8c8;
	-moz-column-rule: 1px solid #c8c8c8;
	column-rule: 1px solid #c8c8c8;
}

.cr-very-light-grey {
	-webkit-column-rule: 1px solid #f0f0f0;
	-moz-column-rule: 1px solid #f0f0f0;
	column-rule: 1px solid #f0f0f0;
}

/* Rulers - .hr */

.hr-light-grey {
	background-color: #c8c8c8;
	bottom: 40px;
	margin: 0 4.16%;
	position: absolute;
	top: 40px;
	width: 1px;
}

/* Width's - .wdt */

.wdt-95 { width: 95%; }
.wdt-90 { width: 90%; }
.wdt-85 { width: 85%; }
.wdt-80 { width: 80%; }
.wdt-75 { width: 75%; }
.wdt-70 { width: 70%; }
.wdt-65 { width: 65%; }
.wdt-60 { width: 60%; }
.wdt-55 { width: 55%; }
.wdt-50 { width: 50%; }

/* Utility Classes - .ctr .tal .tar .tac */

.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }

.ctr {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/*
Editor End
*/

/* Margin's - .m .mt .mb .mx .my */

.m-100 { margin: 100px; }
.m-90 { margin: 90px; }
.m-80 { margin: 80px; }
.m-70 { margin: 70px; }
.m-60 { margin: 60px; }
.m-50 { margin: 50px; }
.m-40 { margin: 40px; }
.m-30 { margin: 30px; }
.m-25 { margin: 25px; }
.m-20 { margin: 20px; }
.m-15 { margin: 15px; }
.m-10 { margin: 10px; }
.m-5 { margin: 5px; }

.mt-100 { margin-top: 100px; }
.mt-90 { margin-top: 90px; }
.mt-80 { margin-top: 80px; }
.mt-70 { margin-top: 70px; }
.mt-60 { margin-top: 60px; }
.mt-50 { margin-top: 50px; }
.mt-40 { margin-top: 40px; }
.mt-30 { margin-top: 30px; }
.mt-25 { margin-top: 25px; }
.mt-20 { margin-top: 20px; }
.mt-15 { margin-top: 15px; }
.mt-10 { margin-top: 10px; }
.mt-5 { margin-top: 5px; }

.mb-150 { margin-bottom: 150px; }

.mb-100 { margin-bottom: 100px; }
.mb-90 { margin-bottom: 90px; }
.mb-80 { margin-bottom: 80px; }
.mb-70 { margin-bottom: 70px; }
.mb-60 { margin-bottom: 60px; }
.mb-50 { margin-bottom: 50px; }
.mb-40 { margin-bottom: 40px; }
.mb-30 { margin-bottom: 30px; }
.mb-25 { margin-bottom: 25px; }
.mb-20 { margin-bottom: 20px; }
.mb-15 { margin-bottom: 15px; }
.mb-10 { margin-bottom: 10px; }
.mb-5 { margin-bottom: 5px; }

.mx-100 { margin-left: 100px; margin-right: 100px; }
.mx-90 { margin-left: 90px; margin-right: 90px; }
.mx-80 { margin-left: 80px; margin-right: 80px; }
.mx-70 { margin-left: 70px; margin-right: 70px; }
.mx-60 { margin-left: 60px; margin-right: 60px; }
.mx-50 { margin-left: 50px; margin-right: 50px; }
.mx-40 { margin-left: 40px; margin-right: 40px; }
.mx-30 { margin-left: 30px; margin-right: 30px; }
.mx-25 { margin-left: 25px; margin-right: 25px; }
.mx-20 { margin-left: 20px; margin-right: 20px; }
.mx-15 { margin-left: 15px; margin-right: 15px; }
.mx-10 { margin-left: 10px; margin-right: 10px; }
.mx-5 { margin-left: 5px; margin-right: 5px; }

.my-100 { margin-top: 100px; margin-bottom: 100px; }
.my-90 { margin-top: 90px; margin-bottom: 90px; }
.my-80 { margin-top: 80px; margin-bottom: 80px; }
.my-70 { margin-top: 70px; margin-bottom: 70px; }
.my-60 { margin-top: 60px; margin-bottom: 60px; }
.my-50 { margin-top: 50px; margin-bottom: 50px; }
.my-40 { margin-top: 40px; margin-bottom: 40px; }
.my-30 { margin-top: 30px; margin-bottom: 30px; }
.my-25 { margin-top: 25px; margin-bottom: 25px; }
.my-20 { margin-top: 20px; margin-bottom: 20px; }
.my-15 { margin-top: 15px; margin-bottom: 15px; }
.my-10 { margin-top: 10px; margin-bottom: 10px; }
.my-5 { margin-top: 5px; margin-bottom: 5px; }

/* Padding - .p .pt .pb .px .py */

.p-100 { padding: 100px; }
.p-90 { padding: 90px; }
.p-80 { padding: 80px; }
.p-70 { padding: 70px; }
.p-60 { padding: 60px; }
.p-50 { padding: 50px; }
.p-40 { padding: 40px; }
.p-30 { padding: 30px; }
.p-25 { padding: 25px; }
.p-20 { padding: 20px; }
.p-15 { padding: 15px; }
.p-10 { padding: 10px; }
.p-5 { padding: 5px; }


.pt-100 { padding-top: 100px; }
.pt-90 { padding-top: 90px; }
.pt-80 { padding-top: 80px; }
.pt-70 { padding-top: 70px; }
.pt-60 { padding-top: 60px; }
.pt-50 { padding-top: 50px; }
.pt-40 { padding-top: 40px; }
.pt-30 { padding-top: 30px; }
.pt-25 { padding-top: 25px; }
.pt-20 { padding-top: 20px; }
.pt-15 { padding-top: 15px; }
.pt-10 { padding-top: 10px; }
.pt-5 { padding-top: 5px; }

.pb-100 { padding-bottom: 100px; }
.pb-90 { padding-bottom: 90px; }
.pb-80 { padding-bottom: 80px; }
.pb-70 { padding-bottom: 70px; }
.pb-60 { padding-bottom: 60px; }
.pb-50 { padding-bottom: 50px; }
.pb-40 { padding-bottom: 40px; }
.pb-30 { padding-bottom: 30px; }
.pb-25 { padding-bottom: 25px; }
.pb-20 { padding-bottom: 20px; }
.pb-15 { padding-bottom: 15px; }
.pb-10 { padding-bottom: 10px; }
.pb-5 { padding-bottom: 5px; }

.px-100 { padding-left: 100px; padding-right: 100px; }
.px-90 { padding-left: 90px; padding-right: 90px; }
.px-80 { padding-left: 80px; padding-right: 80px; }
.px-70 { padding-left: 70px; padding-right: 70px; }
.px-60 { padding-left: 60px; padding-right: 60px; }
.px-50 { padding-left: 50px; padding-right: 50px; }
.px-40 { padding-left: 40px; padding-right: 40px; }
.px-30 { padding-left: 30px; padding-right: 30px; }
.px-25 { padding-left: 25px; padding-right: 25px; }
.px-20 { padding-left: 20px; padding-right: 20px; }
.px-15 { padding-left: 15px; padding-right: 15px; }
.px-10 { padding-left: 10px; padding-right: 10px; }
.px-5 { padding-left: 5px; padding-right: 5px; }

.py-100 { padding-top: 100px; padding-bottom: 100px; }
.py-90 { padding-top: 90px; padding-bottom: 90px; }
.py-80 { padding-top: 80px; padding-bottom: 80px; }
.py-70 { padding-top: 70px; padding-bottom: 70px; }
.py-60 { padding-top: 60px; padding-bottom: 60px; }
.py-50 { padding-top: 50px; padding-bottom: 50px; }
.py-40 { padding-top: 40px; padding-bottom: 40px; }
.py-30 { padding-top: 30px; padding-bottom: 30px; }
.py-25 { padding-top: 25px; padding-bottom: 25px; }
.py-20 { padding-top: 20px; padding-bottom: 20px; }
.py-15 { padding-top: 15px; padding-bottom: 15px; }
.py-10 { padding-top: 10px; padding-bottom: 10px; }
.py-5 { padding-top: 5px; padding-bottom: 5px; }

/* Responsive Famework */

#page-wrapper { width: 100%; }

.row-100 { width: 100%; }
.row-90 { width: 90%; }
.row-80 { width: 80%; }
.row-70 { width: 70%; }

[class*='row-'] {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative; /* Keep absolutes in check! */
}

[class*='row-']:after {
	clear: both;
	content: "";
	display: table;
}

.column-23-23,
.column-22-23,
.column-21-23,
.column-20-23,
.column-19-23,
.column-18-23,
.column-17-23,
.column-16-23,
.column-15-23,
.column-14-23,
.column-13-23,
.column-12-23,
.column-11-23,
.column-10-23,
.column-9-23,
.column-8-23,
.column-7-23,
.column-6-23,
.column-5-23,
.column-4-23,
.column-3-23,
.column-2-23,
.column-1-23,
.column-24-24,
.column-23-24,
.column-22-24,
.column-21-24,
.column-20-24,
.column-19-24,
.column-18-24,
.column-17-24,
.column-16-24,
.column-15-24,
.column-14-24,
.column-13-24,
.column-12-24,
.column-11-24,
.column-10-24,
.column-9-24,
.column-8-24,
.column-7-24,
.column-6-24,
.column-5-24,
.column-4-24,
.column-3-24,
.column-2-24,
.column-1-24 {
	box-sizing: border-box;
	float: left;
	position: relative;
}

.column-24-24 { width: 100%; }
.column-23-24 { width: 95.83%; }
.column-22-24 { width: 91.66%; }
.column-21-24{ width: 87.49%; }
.column-20-24 { width: 83.33%; }
.column-19-24 { width: 79.16%; }
.column-18-24 { width: 74.99%; }
.column-17-24 { width: 70.83%; }
.column-16-24 { width: 66.66%; }
.column-15-24 { width: 62.49%; } 
.column-14-24 { width: 58.33%; }
.column-13-24 { width: 54.16%; }
.column-12-24 { width: 49.99%; }
.column-11-24 { width: 45.83%; }
.column-10-24 { width: 41.66%; }
.column-9-24 { width: 37.49%; }
.column-8-24 { width: 33.33%; }
.column-7-24 { width: 29.16%; }
.column-6-24 { width: 24.99%; }
.column-5-24 { width: 20.83%; }
.column-4-24 { width: 16.66%; }
.column-3-24 { width: 12.49%; } 
.column-2-24 { width: 8.33%; }
.column-1-24 { width: 4.16%; }

.column-23-23 { width: 100%; }
.column-22-23 { width: 95.65%; }
.column-21-23{ width: 91.30%; }
.column-20-23 { width: 86.95%; }
.column-19-23 { width: 82.60%; }
.column-18-23 { width: 78.26%; }
.column-17-23 { width: 73.91%; }
.column-16-23 { width: 69.56%; }
.column-15-23 { width: 65.21%; } 
.column-14-23 { width: 60.86%; }
.column-13-23 { width: 56.52%; }
.column-12-23 { width: 52.17%; }
.column-11-23 { width: 47.82%; }
.column-10-23 { width: 43.47%; }
.column-9-23 { width: 39.13%; }
.column-8-23 { width: 34.78%; }
.column-7-23 { width: 30.43%; }
.column-6-23 { width: 26.08%; }
.column-5-23 { width: 21.73%; }
.column-4-23 { width: 17.39%; }
.column-3-23 { width: 13.04%; } 
.column-2-23 { width: 8.69%; }
.column-1-23 { width: 4.34%; }

.empty {
	height: 1px;
	min-height: 1px;
}

/* Fluid Columns .fluid-column(s) */

.fluid-columns-1 {
	border-spacing: 10px 0;
	display: table;
	width: 100%;
}

.fluid-column-1 {
	background: #f6f6f6;
	border-radius: 4px;
	display: table-cell;
	height: 100%;
	padding: 20px;
	width: 50%;
}

/* Content - .content */

.content-1 {
	box-sizing: border-box;
	line-height: 1.6;
}

.content-1 li {
	list-style-type: disc;
	margin: 0 0 10px 15px;
}

.content-1 li:last-child { margin-bottom: 0; }

.content-1 a { color: #02b1dc; }
.content-1 a:hover { color: #323232; }

/* Buttons .button */

[class*='button-'] { height: 40px; }

[class*='button-'] a {
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 40px;
	padding: 0 15px;
	text-decoration: none;
	transition: all 1s;
}

.button-1 { float: left; }

.button-1 a {
	background-color: #02b1dc;
	border: 1px solid #02b1dc;
	color: #fff;
}

.button-1:hover > a:hover {
	background-color: transparent;
	color: #02b1dc;
}

.button-2 a {
	background-color: transparent;
	border: 1px solid #02b1dc;
	color: #fff;
}

.button-2:hover > a:hover {
	background-color: #02b1dc;
}

.button-3 a {
	background-color: #02b1dc;
	border: 1px solid #02b1dc;
	box-shadow: 5px 5px 2px 0 #c8c8c8;
	-webkit-box-shadow: 5px 5px 2x 0 #c8c8c8;
	-moz-box-shadow: 5px 5px 2px 0 #c8c8c8;
	color: #fff;
}

.button-3:hover > a:hover {
	background-color: transparent;
	color: #02b1dc;
}

/* Buttons - input[type=submit] */

input[type=submit] {
	cursor: pointer;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 300;
	line-height: 40px;
	padding: 0 15px;
	text-decoration: none;
	transition: all 0.6s;
}

input[type=submit]:hover { background-color: transparent; }

/* Media Queries - .cc */

@media screen and (max-width: 600px) {
	[class*='wdt-'] { width: 100%; }
	
	[class*='cc-'] {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	
	.fs-18 { font-size: 1.6rem; }
	.fs-20 { font-size: 1.6rem; }
	
	.fs-48 { font-size: 3.3rem; }
	.fs-52 { font-size: 3.3rem; }
	.fs-68 { font-size: 3.3rem; }
}

@media only screen and (max-width: 900px) {
	[class*='column-'] { width: 100%; }
	[class*='hr-'] { display: none; }
	
	.fluid-columns-1 { border-spacing: 35px 0; }
	
	.fluid-column-1 {
		display: block;
		width: 100%;
	}
	
	.fluid-column-1:first-child { margin-bottom: 40px; }
}